---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Nosotros">
  <Container>
    <Sectionhead>
      <Fragment slot="title">NOSOTROS</Fragment>
      <Fragment slot="desc">Somos un gran equipo listos para cualquier desafio.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16 bg-gradient-to-r from-violet to-pink py-10 px-10">
      <h2 class="font-bold text-3xl text-white">
        Autoridades AILE.
      </h2>
      <p class="text-lg leading-relaxed text-white">
        En AILE, tenemos autoridades así como distintos comités encargados de diferentes áreas de vital importancia para la Asosiación. Cada uno de nosotros resulta importante para el funcionamiento orgánico.
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-7 mx-auto max-w-4xl mt-10 ">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full">
            </div>
            <img src={teamMemberEntry.data.avatar.src} alt="" class="object-cover sm:w-80 sm:h-80">

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">
                {teamMemberEntry.data.name}
              </h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
