---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Sectionhead from "@components/sectionhead.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contactanos">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contactanos</Fragment>
      <Fragment slot="desc">Estamos abiertos al trabajo con cualquier institución. Comunicate con nosotros.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contactá con AILE</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Puedes contactarnos via mail o por nuestro teléfono celular.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Villa Carlos Paz, Córdoba, Argentina.</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:ailevcp@gmail.com"
              >ailevcp@gmail.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+1 (987) 4587 899">+1 (987) 4587 899</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
  <Cta />
</Layout>
