---
import Link from "./ui/link.astro";
---

<div
  class="bg-gradient-to-r from-violet to-pink p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight font-sans font-bold">
    Sumate a la revolución de la EDUCACIÓN.
  </h2>
  <p class="text-white mt-4 text-lg md:text-xl font-body">
    Es hora de que juntos construyamos una nueva forma de construir la democracia y de formar a los líderes del mañana. Completá el formulario y transformemos realidades.
  </p>
  <div class="flex mt-5">
    <Link href="https://docs.google.com/forms/d/e/1FAIpQLSd5BQ7Upc9oS5lllSSFkfC08-OF7EPaha4FnqKXCk7XEiObwg/viewform" style="inverted" target="blank">SUMATE</Link>
  </div>
</div>
