---
import { YouTube } from '@astro-community/astro-embed-youtube';
---

<div class="mt-16 md:mt-0 display: grid bg-gradient-to-r from-violet to-pink place-items-center">

  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight pt-5 text-white">
    ¿Quienes somos?
  </h2>
  <p class="text-lg mt-4 text-white max-w-3xl pb-5 px-3">
    Somos una asosiación argentina destinada a empoderar jóvenes de todo el país, especializandonos en nuestra querida provincia de Córdoba y nuestra ciudad de nacimiento, Villa Carlos Paz.
  </p>

</div>

<YouTube id="https://youtu.be/cf0T3h-XTkk?si=wl8p_8dPL93Sy_h5" playlabel="Play the video" />



