---
import { Tweet, Vimeo, YouTube } from 'astro-embed';
---

<div class="mt-16 md:mt-0 display: grid bg-violet place-items-center">

  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight pt-5 text-white">
    ¿Quienes somos?
  </h2>
  <p class="text-lg mt-4 text-white max-w-3xl pb-5 px-3">
    Somos una asosiación argentina destinada a empoderar jóvenes de todo el país, especializandonos en nuestra querida provincia de Córdoba y nuestra ciudad de nacimiento, Villa Carlos Paz.
  </p>

</div>

<YouTube id="https://www.youtube.com/watch?v=cf0T3h-XTkk" playlabel="Play the video" />



